// No spacing between ContentPanes
.claro .dijitContentPane {
	padding: 0;	
}


//TODO: Figure out why this has been in the old stylesheet;
.claro .dijitStackContainer-child {
	height: 100%;
}

// Smaller tab height
.claro .dijitTabContainerTop-tabs .dijitTab,
.claro .dijitTabContainerTop-tabs .dijitTabChecked {
	padding-top: 0px;
	padding-bottom: 0px;
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked {
	padding-bottom: 1px;
}