[run]
branch = True

[report]
show_missing = True
include = *libmproxy*
exclude_lines =
    pragma: nocover
    pragma: no cover
    raise NotImplementedError()
omit = *contrib*, *tnetstring*, *platform*, *console*, *main.py
