<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mitmproxy</title>
    <link rel="icon" href=".{{ static_url('images/favicon.ico') }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href=".{{ static_url('vendor.css') }}" />
    <link rel="stylesheet" href=".{{ static_url('app.css') }}" />
    <script src=".{{ static_url('app.js') }}" data-xsrf="{{ xsrf_token }}"></script>
</head>
<body>
    <div id="mitmproxy"></div>
</body>
</html>
