html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.resource-icon {
  width: 32px;
  height: 32px;
}
.resource-icon-css {
  background-image: url(../images/chrome-devtools/resourceCSSIcon.png);
}
.resource-icon-document {
  background-image: url(../images/chrome-devtools/resourceDocumentIcon.png);
}
.resource-icon-js {
  background-image: url(../images/chrome-devtools/resourceJSIcon.png);
}
.resource-icon-plain {
  background-image: url(../images/chrome-devtools/resourcePlainIcon.png);
}
.resource-icon-executable {
  background-image: url(../images/resourceExecutableIcon.png);
}
.resource-icon-flash {
  background-image: url(../images/resourceFlashIcon.png);
}
.resource-icon-image {
  background-image: url(../images/resourceImageIcon.png);
}
.resource-icon-java {
  background-image: url(../images/resourceJavaIcon.png);
}
.resource-icon-not-modified {
  background-image: url(../images/resourceNotModifiedIcon.png);
}
.resource-icon-redirect {
  background-image: url(../images/resourceRedirectIcon.png);
}
html,
body,
#container {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#container {
  display: flex;
  flex-direction: column;
}
#container > header,
#container > footer,
#container > .eventlog {
  flex: 0 0 auto;
}
.main-view {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  outline: 0;
}
.main-view.vertical {
  flex-direction: column;
}
.main-view .flow-detail,
.main-view .flow-table {
  flex: 1 1 auto;
}
.splitter {
  flex: 0 0 1px;
  background-color: #aaa;
  position: relative;
}
.splitter > div {
  position: absolute;
}
.splitter.splitter-x {
  cursor: col-resize;
}
.splitter.splitter-x > div {
  margin-left: -1px;
  width: 4px;
  height: 100%;
}
.splitter.splitter-y {
  cursor: row-resize;
}
.splitter.splitter-y > div {
  margin-top: -1px;
  height: 4px;
  width: 100%;
}
.nav-tabs {
  border-bottom: solid #a6a6a6 1px;
}
.nav-tabs a {
  display: inline-block;
  border: solid transparent 1px;
  text-decoration: none;
}
.nav-tabs a.active {
  background-color: white;
  border-color: #a6a6a6;
  border-bottom-color: white;
}
.nav-tabs a.special {
  color: white;
  background-color: #396cad;
  border-bottom-color: #396cad;
}
.nav-tabs a.special:hover {
  background-color: #5386c6;
}
.nav-tabs-lg a {
  padding: 3px 14px;
  margin: 0 2px -1px;
}
.nav-tabs-sm a {
  padding: 0px 7px;
  margin: 2px 2px -1px;
}
header {
  background-color: white;
}
header .title-bar {
  line-height: 25px;
  text-align: center;
}
header .menu {
  padding: 10px;
  border-bottom: solid #a6a6a6 1px;
}
.flow-table {
  width: 100%;
  overflow: auto;
}
.flow-table table {
  width: 100%;
  table-layout: fixed;
}
.flow-table thead {
  background-color: #F2F2F2;
  line-height: 23px;
}
.flow-table th {
  font-weight: normal;
  box-shadow: 0 1px 0 #a6a6a6;
}
.flow-table tr {
  cursor: pointer;
}
.flow-table tr.selected {
  background-color: rgba(193, 215, 235, 0.5) !important;
}
.flow-table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.flow-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
.flow-table .col-tls {
  width: 10px;
}
.flow-table .col-tls-https {
  background-color: rgba(0, 185, 0, 0.5);
}
.flow-table .col-icon {
  width: 32px;
}
.flow-table .col-method {
  width: 60px;
}
.flow-table .col-status {
  width: 50px;
}
.flow-table .col-size {
  width: 70px;
}
.flow-table .col-time {
  width: 50px;
}
.flow-table td.col-time,
.flow-table td.col-size {
  text-align: right;
}
.flow-detail {
  width: 100%;
  overflow: auto;
}
.flow-detail nav {
  background-color: #F2F2F2;
}
.flow-detail section {
  padding: 5px 12px;
}
.flow-detail .first-line {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #428bca;
  color: white;
  margin: 0 -8px;
  padding: 4px 8px;
  border-radius: 5px;
  word-break: break-all;
}
.flow-detail table {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
}
.flow-detail table tr:not(:first-child) {
  border-top: 1px solid #f7f7f7;
}
.flow-detail table td {
  vertical-align: top;
}
.connection-table td:first-child {
  width: 50%;
  padding-right: 1em;
}
.header-table .header-name {
  width: 33%;
  padding-right: 1em;
}
.connection-table td,
.timing-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eventlog {
  height: 200px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.eventlog > div {
  background-color: #F2F2F2;
  padding: 0 5px;
  flex: 0 0 auto;
}
.eventlog > pre {
  flex: 1 1 auto;
  margin: 0;
  border-radius: 0;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #fcfcfc;
}
.eventlog .fa-close {
  cursor: pointer;
  float: right;
  color: grey;
  padding: 3px 0;
  padding-left: 10px;
}
.eventlog .fa-close:hover {
  color: black;
}
.eventlog .label {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
  margin-left: 3px;
}
footer {
  box-shadow: 0 -1px 3px #d3d3d3;
  padding: 0px 10px 3px;
}

/*# sourceMappingURL=../css/app.css.map */