[run]
branch = True
include = mitmproxy netlib pathod
omit = *contrib*, *tnetstring*, *platform*, *console*, *main.py

[report]
show_missing = True
exclude_lines =
    pragma: nocover
    pragma: no cover
    raise NotImplementedError()
