[submodule "libmproxy/gui/lib/dgrid"]
	path = libmproxy/gui/lib/dgrid
	url = https://github.com/mhils/dgrid.git
[submodule "libmproxy/gui/lib/dojo"]
	path = libmproxy/gui/lib/dojo
	url = https://github.com/dojo/dojo.git
[submodule "libmproxy/gui/lib/dijit"]
	path = libmproxy/gui/lib/dijit
	url = https://github.com/dojo/dijit.git
[submodule "libmproxy/gui/lib/dojox"]
	path = libmproxy/gui/lib/dojox
	url = https://github.com/dojo/dojox.git
[submodule "libmproxy/gui/lib/put-selector"]
	path = libmproxy/gui/lib/put-selector
	url = https://github.com/kriszyp/put-selector
[submodule "libmproxy/gui/lib/xstyle"]
	path = libmproxy/gui/lib/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "libmproxy/gui/lib/util"]
	path = libmproxy/gui/lib/util
	url = https://github.com/dojo/util.git