sudo: false
language: python

env:
  global:
    - CI_DEPS=codecov>=2.0.5
    - CI_COMMANDS=codecov

matrix:
  fast_finish: true
  include:
    - python: 3.5
      env: TOXENV=lint
    - os: osx
      osx_image: xcode7.3
      language: generic
      env: TOXENV=py35 BDIST=1
    - python: 3.5
      env: TOXENV=py35 OPENSSL_OLD
      addons:
        apt:
          packages:
            - libssl-dev
    - python: 3.5
      env: TOXENV=py35 BDIST=1 OPENSSL_ALPN
      addons:
        apt:
          sources:
            # Debian sid currently holds OpenSSL 1.1.0
            # change this with future releases!
            - debian-sid
          packages:
            - libssl-dev
    - python: 3.5
      env: TOXENV=docs
      git:
        depth: 10000
  allow_failures:
    - python: pypy

install:
  - |
    if [[ $TRAVIS_OS_NAME == "osx" ]]
    then
      brew update || brew update
      brew outdated pyenv || brew upgrade pyenv
      eval "$(pyenv init -)"
      env PYTHON_CONFIGURE_OPTS="--enable-framework" pyenv install --skip-existing 3.5.2
      pyenv global 3.5.2
      pyenv shell 3.5.2
      pip install -U pip setuptools wheel virtualenv
    fi
  - pip install tox

script:
  - tox -- --cov mitmproxy --cov pathod -v
  - |
    if [[ $BDIST == "1" ]]
    then
        git fetch --unshallow --tags
        tox -e rtool -- bdist
    fi

after_success:
  # we build binaries on every run, but we only upload them for master snapshots or tags.
  - |
    if [[ $BDIST == "1" && $TRAVIS_PULL_REQUEST == "false" && ($TRAVIS_BRANCH == "pyinstaller" || $TRAVIS_BRANCH == "master" || -n $TRAVIS_TAG) ]]
    then
        tox -e rtool -- upload-snapshot --bdist
    fi

notifications:
  slack:
      -rooms:
          mitmproxy:YaDGC9Gt9TEM7o8zkC2OLNsu
      on_success: change
      on_failure: change
      on_start: never

cache:
  directories:
    - $HOME/.pyenv
    - $HOME/.cache/pip
    # - $HOME/build/mitmproxy/mitmproxy/.tox
