sudo: false
language: python

addons:
  apt:
    sources:
      # Debian sid currently holds OpenSSL 1.0.2
      # change this with future releases!
      - debian-sid
    packages:
      - libssl-dev

env:
  global:
    - CI_DEPS=codecov>=2.0.5
    - CI_COMMANDS=codecov

matrix:
  fast_finish: true
  include:
    - python: 3.5
      env: TOXENV=lint
    - os: osx
      language: generic
      env: TOXENV=py35
    - python: 3.5
      env: TOXENV=py35
    - python: 3.5
      env: TOXENV=py35 NO_ALPN=1
    - python: 2.7
      env: TOXENV=py27
    - python: 2.7
      env: TOXENV=py27 NO_ALPN=1
    - python: 3.5
      env: TOXENV=docs
  allow_failures:
    - python: pypy

install:
  - |
    if [[ $TRAVIS_OS_NAME == "osx" ]]
    then
      brew update || brew update # try again if it fails
      brew outdated openssl || brew upgrade openssl
      brew install python python3
      pip install -U pip setuptools wheel
      pip3 install -U pip3 setuptools wheel
    fi
  - pip install tox

script: set -o pipefail; tox -- --cov netlib --cov mitmproxy --cov pathod 2>&1 | grep -v Cryptography_locking_cb

after_success:
  - |
    if [[ $TRAVIS_OS_NAME == "osx" && $TRAVIS_PULL_REQUEST == "false" && ($TRAVIS_BRANCH == "master" || -n $TRAVIS_TAG) ]]
    then
        pip3 install -U virtualenv
        ./dev.sh 3.5
        source venv3.5/bin/activate
        pip install -e ./release
        python ./release/rtool.py bdist
        python ./release/rtool.py upload-snapshot --bdist --wheel
    fi

notifications:
  slack:
      -rooms:
          mitmproxy:YaDGC9Gt9TEM7o8zkC2OLNsu
      on_success: change
      on_failure: change
      on_start: never

cache: pip
