sudo: false
language: python

addons:
  apt:
    sources:
      # Debian sid currently holds OpenSSL 1.0.2
      # change this with future releases!
      - debian-sid
    packages:
      - libssl-dev

env: 
  global:
    - TOXENV=py
    - CI_DEPS=codecov>=2.0.5
    - CI_COMMANDS=codecov

matrix:
  fast_finish: true
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 2.7
      env: TOXENV=py27 NO_ALPN=1
    - python: 3.5
      env: TOXENV=py35
    - python: 3.5
      env: TOXENV=py35 NO_ALPN=1
    - language: generic
      os: osx
      osx_image: xcode7.1
      git:
        depth: 9999999
      env: TOXENV=py27
    - python: 3.5
      env: TOXENV=lint
    - python: 2.7
      env: TOXENV=docs
  allow_failures:
    - python: pypy

install:
  - |
    if [[ $TRAVIS_OS_NAME == "osx" ]]
    then
      brew update || brew update # try again if it fails
      brew outdated openssl || brew upgrade openssl
      brew install python
    fi
  - pip install tox

script: set -o pipefail; tox -- --cov netlib --cov mitmproxy --cov pathod 2>&1 | grep -v Cryptography_locking_cb

after_success:
  - |
    if [[ $TRAVIS_OS_NAME == "osx" && $TRAVIS_PULL_REQUEST == "false" && ($TRAVIS_BRANCH == "master" || -n $TRAVIS_TAG) ]]
    then
        pip install -U virtualenv
        ./dev.sh
        source venv/bin/activate
        pip install -e ./release
        python ./release/rtool.py bdist
        python ./release/rtool.py upload-snapshot --bdist --wheel
    fi

notifications:
  slack:
      -rooms:
          mitmproxy:YaDGC9Gt9TEM7o8zkC2OLNsu
      on_success: change
      on_failure: change
      on_start: never

cache:
  directories:
    - $HOME/build/mitmproxy/mitmproxy/.tox
    - $HOME/.cache/pip
    - $HOME/.pyenv
