language: python
python:
  - "2.7"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - "pip install coveralls --use-mirrors"
  - "pip install nose-cov --use-mirrors"
  - "pip install -r requirements.txt --use-mirrors"
  - "pip install --upgrade git+https://github.com/mitmproxy/netlib.git"
# command to run tests, e.g. python setup.py test
script: 
  - "nosetests --with-cov --cov-report term-missing"
after_success: 
  - coveralls