include mitmproxy mitmdump mitmweb
include LICENSE CHANGELOG CONTRIBUTORS CONTRIBUTING.md README.rst
graft examples
graft test
prune test/tools
graft libmproxy
recursive-exclude * *.pyc *.pyo *.swo *.swp
