include mitmproxy mitmdump mitmweb
include LICENSE CHANGELOG CONTRIBUTORS CONTRIBUTING.md README.rst
graft examples
graft libmproxy
graft test
prune test/tools
recursive-exclude * *.pyc *.pyo *.swo *.swp *.map
