hpack~=4.0.0
hyperframe~=6.0.1
h2~=4.1.0
h11~=0.14.0
pip~=23.2.1
attrs~=22.2.0
wheel~=0.40.0
cryptography~=38.0.4
tornado~=6.2
Jinja2~=3.1.2
six~=1.16.0
packaging~=23.0
face~=20.1.1
boltons~=23.0.0
glom~=23.1.1
MarkupSafe~=2.1.2
PyYAML~=6.0
Werkzeug~=2.2.3
click~=8.1.3
itsdangerous~=2.1.2
pyasn1~=0.4.8
urwid~=2.1.2
setuptools~=67.6.1
falcon~=3.1.1
jsonschema~=4.17.3
msgpack~=1.0.4
marshmallow~=3.19.0
apispec~=6.1.0
asgiref~=3.5.2
certifi~=2022.12.7
cffi~=1.15.1
passlib~=1.7.4
zstandard~=0.19.0
python-dateutil~=2.8.2
ply~=3.11
pycparser~=2.21
pyparsing~=3.0.9
pyperclip~=1.8.2
sortedcontainers~=2.4.0
pyrsistent~=0.19.3
pycodestyle~=2.10.0
Flask~=2.2.3
wsproto~=1.2.0
ldap3~=2.9.1
uvicorn~=0.23.2
Brotli~=1.0.9
publicsuffix2~=2.20191221
kaitaistruct~=0.10
