<div class="header">
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <a class="brand" > <!-- <img src="./HoneyProxy/images/logo.png" width="32" height="32" style="position: relative; top: -2px"> --> HoneyProxy</a>
	    <ul class="nav">
	    	<li class="divider-vertical"></li>
	    	<li><a href="#" data-bind="click: view.showPane.bind(view,0)">
					<span class="dijitInline dijitIcon dijitIconTable"></span>
					Show Traffic
			</a></li>
			<li class="divider-vertical"></li>
			<li><a href="#" data-bind="click: view.showPane.bind(view,1)">
					<span class="dijitInline dijitIcon dijitIconChart"></span>
					Generate Report
			</a></li>
			<li class="divider-vertical"></li>
	    </ul>
	  </div>
	</div>
</div>