<div class="header">
	<div class="navbar navbar-default navbar-fixed-top">
        <a class="navbar-brand">mitmproxy</a>
        <ul class="nav navbar-nav">
            <li class="divider-vertical"></li>
            <li><a href="#" data-bind="click: view.showPane.bind(view,0)">
                    <span class="dijitInline dijitIcon dijitIconTable"></span>
                    Show Traffic
            </a></li>
            <li class="divider-vertical"></li>
            <li><a href="#" data-bind="click: view.showPane.bind(view,1)">
                    <span class="dijitInline dijitIcon dijitIconChart"></span>
                    Generate Report
            </a></li>
            <li class="divider-vertical"></li>
        </ul>
	</div>
</div>