<div class="sidebar reportEditor">

	<h5>Report Editor</h5>

		<div class="progress progress-striped active span2 text-right">
		  <div class="bar" data-bind="bind: [view,'active']"></div>
		  <div class="muted text-center" data-bind="bind: [view,'status']"></div>
		</div>

	<div class="btn-toolbar text-right" >

	  	<select class="btn span3" data-bind="options: view.files; select: view.filename; change: view.fileChange.bind(view)"></select>
	    <a class="btn" href="#" data-bind="hide: this.readonly; click: view.newFileClick.bind(view)"    title="New File"   ><i class="icon-file" ></i></a>
	    <a class="btn" href="#" data-bind="hide: this.readonly; click: view.deleteFileClick.bind(view)" title="Delete File"><i class="icon-trash"></i></a>
	</div>

	<textarea data-bind="bind: [view,'code']"></textarea>
	<br>
	<div class="btn btn-primary" data-bind="click: view.submitClick.bind(view)"><i class="icon-wrench icon-white"></i> Generate Report</div>

</div>