<form class="query input-group col-sm-3" data-bind="toggleClass: ['empty',view.empty && !view.highlightSubmit,'always-visible',view.alwaysVisible];
														 submit: view.onSubmit.bind(view)">
	<span class="input-group-addon">
		<i data-bind="css: ['color',view.color];
                      className: view.filter?'icon-filter': 'icon-tag';
                      title: view.filter? 'Only show items that match' : 'Highlight matching rows'"></i>
    </span>
	<input type="text" class="form-control" data-bind="bind: [view,'inputNode'];
												input: view.onInput.bind(view);
                                                focus: view.onFocus.bind(view);
												blur: view.onBlur.bind(view);
												placeholder: view.filter?'Filter':'Highlight'">
    <span class="input-group-btn">
	<button class="btn btn-default" tabindex="-1" data-bind="toggleClass: ['btn-info',view.state == 'warn'];
                                                 click: view.onClick.bind(view);
                                                 disabled: view.state =='done';
												 title: (view.state == 'warn') ? 'This query has not been submitted yet.' : 'Submit'">
		<i data-bind="className: (view.state=='closable') ? 'icon-remove' : 'icon-caret-right'"></i></button>
    </span
</form>