<div id="tutorial">
	<h3>Quick start</h3>
	<ul>
		<li><h4>Set up your HTTP proxy settings.</h4>
			<b>Default Configuration Settings:</b><br>
			<b>Host: </b>localhost/your-ip (listens on all interfaces)<br>
			<b>Port: </b>8080
		<li><h4>Set up SSL interception if required</h4>
			Follow the steps from the <a href="http://mitmproxy.org/doc/ssl.html">mitmproxy docs</a>. All certificates are stored in the "~/.mitmproxy" directory in your user folder.<br>
			TODO: Insert Cert download option here.
	</ul>
</div>