{% extends "layout.html" %}
{% block content %}
<div class="row">
    <nav class="col-md-2 bg-light sidebar sidebar-toc">
        {% include 'mitmweb/toc.html' %}
    </nav>

    <main role="main" class="col-md-6 ml-sm-auto px-md-4">
        <h1 id="mitmweb-tutorial" class="pt-3 pb-3 mb-3 border-bottom">mitmweb Tutorial</h1>

        <h2 id="overview" class="pt-3 pb-3 mb-3 border-bottom">Overview</h2>
        <p>Yet to be written.</p>


        <h2 id="view-flows" class="pt-3 pb-3 mb-3 border-bottom">View Flows</h2>
        <p>Yet to be written.</p>


        <h2 id="view-flows2" class="pt-3 pb-3 mb-3 border-bottom">Intercept Requests</h2>
        <p>Yet to be written.</p>
        
        
        <h2 id="view-flows2" class="pt-3 pb-3 mb-3 border-bottom">Modify Requests</h2>
        <p>Yet to be written.</p>
        
        
        
        <h2 id="replay-requests" class="pt-3 pb-3 mb-3 border-bottom">Replay Requests</h2>
        <p>Yet to be written.</p>


        <h2 id="going-forward" class="pt-3 pb-3 mb-3 border-bottom">What's next?</h2>
        <p>Yet to be written.</p>
        
    </main>

    <div class="col-md-4 bg-light sidebar sidebar-app">
        {% include 'voting_app.html' %}
    </div>
</div>
{% endblock %}
