
.fronttable {
}

.bigtitle {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    display: table;
    height: 300px;
}

.bigtitle>div {
    display: table-cell;
    vertical-align: middle;
}

section {
    margin-top: 50px;
}

.example {
    margin-top: 10px;
    margin-bottom: 10px;
}

.terminal {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000;
    color: #fff;
}
