html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.resource-icon {
  width: 32px;
  height: 32px;
}
.resource-icon-css {
  background-image: url(images/chrome-devtools/resourceCSSIcon.png);
}
.resource-icon-document {
  background-image: url(images/chrome-devtools/resourceDocumentIcon.png);
}
.resource-icon-js {
  background-image: url(images/chrome-devtools/resourceJSIcon.png);
}
.resource-icon-plain {
  background-image: url(images/chrome-devtools/resourcePlainIcon.png);
}
.resource-icon-executable {
  background-image: url(images/resourceExecutableIcon.png);
}
.resource-icon-flash {
  background-image: url(images/resourceFlashIcon.png);
}
.resource-icon-image {
  background-image: url(images/resourceImageIcon.png);
}
.resource-icon-java {
  background-image: url(images/resourceJavaIcon.png);
}
.resource-icon-not-modified {
  background-image: url(images/resourceNotModifiedIcon.png);
}
.resource-icon-redirect {
  background-image: url(images/resourceRedirectIcon.png);
}
html,
body,
#container,
#mitmproxy {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#container {
  display: flex;
  flex-direction: column;
  outline: none;
}
#container > header,
#container > footer,
#container > .eventlog {
  flex: 0 0 auto;
}
.main-view {
  flex: 1 1 auto;
  height: 0;
  display: flex;
  flex-direction: row;
}
.main-view.vertical {
  flex-direction: column;
}
.main-view .flow-detail,
.main-view .flow-table {
  flex: 1 1 auto;
}
.splitter {
  flex: 0 0 1px;
  background-color: #aaa;
  position: relative;
}
.splitter > div {
  position: absolute;
}
.splitter.splitter-x {
  cursor: col-resize;
}
.splitter.splitter-x > div {
  margin-left: -1px;
  width: 4px;
  height: 100%;
}
.splitter.splitter-y {
  cursor: row-resize;
}
.splitter.splitter-y > div {
  margin-top: -1px;
  height: 4px;
  width: 100%;
}
.nav-tabs {
  border-bottom: solid #a6a6a6 1px;
}
.nav-tabs a {
  display: inline-block;
  border: solid transparent 1px;
  text-decoration: none;
}
.nav-tabs a.active {
  background-color: white;
  border-color: #a6a6a6;
  border-bottom-color: white;
}
.nav-tabs a.special {
  color: white;
  background-color: #396cad;
  border-bottom-color: #396cad;
}
.nav-tabs a.special:hover {
  background-color: #5386c6;
}
.nav-tabs-lg a {
  padding: 3px 14px;
  margin: 0 2px -1px;
}
.nav-tabs-sm a {
  padding: 0px 7px;
  margin: 2px 2px -1px;
}
.nav-tabs-sm a.nav-action {
  float: right;
  padding: 0;
  margin: 1px 0 0px;
}
header {
  padding-top: 6px;
  background-color: white;
}
header menu {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: solid #a6a6a6 1px;
  height: 85px;
  overflow: visible;
}
.menu-group {
  margin: 0 3px;
  display: inline-block;
  height: 85px;
  vertical-align: top;
}
.menu-content {
  height: 69px;
  text-align: center;
}
.menu-content > .btn {
  height: 69px;
  text-align: center;
  margin: 0 1px;
  padding: 12px 5px;
  border: none;
  border-radius: 0;
}
.menu-content > .btn i {
  font-size: 20px;
  display: block;
  margin: 0 auto 5px;
}
.menu-entry {
  text-align: left;
  height: 23px;
  line-height: 1;
  padding: 0.5rem 1rem;
}
.menu-entry label {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}
.menu-entry input[type=checkbox] {
  margin: 0 2px;
  vertical-align: middle;
}
.menu-legend {
  height: 16px;
  text-align: center;
  font-size: 12px;
  padding: 0 5px;
}
.menu-group + .menu-group:before {
  margin-left: -3px;
  content: " ";
  border-left: solid 1px #e6e6e6;
  margin-top: 10px;
  height: 65px;
  position: absolute;
}
.menu-main {
  margin-left: -2px;
  margin-right: -3px;
  padding: 2px 5px;
}
.filter-input {
  position: relative;
  min-height: 1px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding: 2.5px;
}
@media (min-width: 768px) {
  .filter-input {
    float: left;
    width: 41.66666667%;
  }
}
@media (max-width: 767px) {
  .filter-input {
    padding: 2px 2.5px;
  }
  .filter-input > .form-control,
  .filter-input > .input-group-addon,
  .filter-input > .input-group-btn > .btn {
    height: 23.5px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
  }
}
.filter-input .popover {
  top: 27px;
  display: block;
  max-width: none;
  opacity: 0.9;
}
.filter-input .popover .popover-content {
  max-height: 500px;
  overflow-y: auto;
}
.flow-table {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.flow-table table {
  width: 100%;
  table-layout: fixed;
}
.flow-table thead {
  background-color: #F2F2F2;
  line-height: 23px;
}
.flow-table th {
  font-weight: normal;
  box-shadow: 0 1px 0 #a6a6a6;
  position: relative !important;
  padding-left: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flow-table th.sort-asc,
.flow-table th.sort-desc {
  background-color: #fafafa;
}
.flow-table th.sort-asc:after,
.flow-table th.sort-desc:after {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 2px;
  background-color: rgba(250, 250, 250, 0.8);
}
.flow-table th.sort-asc:after {
  content: "\f0de";
}
.flow-table th.sort-desc:after {
  content: "\f0dd";
}
.flow-table tr {
  cursor: pointer;
}
.flow-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
.flow-table tr.selected {
  background-color: rgba(193, 215, 235, 0.5) !important;
}
.flow-table tr.highlighted {
  background-color: rgba(255, 204, 0, 0.4);
}
.flow-table tr.highlighted:nth-child(even) {
  background-color: rgba(255, 204, 0, 0.5);
}
.flow-table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.flow-table tr.intercepted:not(.has-response) .col-path,
.flow-table tr.intercepted:not(.has-response) .col-method {
  color: #ff8000;
}
.flow-table tr.intercepted.has-response .col-status,
.flow-table tr.intercepted.has-response .col-size,
.flow-table tr.intercepted.has-response .col-time {
  color: #ff8000;
}
.flow-table .fa {
  line-height: inherit;
}
.flow-table .fa.pull-right {
  margin-left: 0;
}
.flow-table .col-tls {
  width: 10px;
}
.flow-table .col-tls-https {
  background-color: rgba(0, 185, 0, 0.5);
}
.flow-table .col-icon {
  width: 32px;
}
.flow-table .col-path .fa-repeat {
  color: green;
}
.flow-table .col-path .fa-pause {
  color: #ff8000;
}
.flow-table .col-path .fa-exclamation,
.flow-table .col-path .fa-times {
  color: darkred;
}
.flow-table .col-method {
  width: 60px;
}
.flow-table .col-status {
  width: 50px;
}
.flow-table .col-size {
  width: 70px;
}
.flow-table .col-time {
  width: 50px;
}
.flow-table td.col-time,
.flow-table td.col-size {
  text-align: right;
}
.flow-detail {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.flow-detail nav {
  background-color: #F2F2F2;
}
.flow-detail section {
  display: flex;
  flex-direction: column;
}
.flow-detail section > article {
  overflow: auto;
  padding: 5px 12px 0;
}
.flow-detail section > footer {
  box-shadow: 0 0 3px gray;
  padding: 2px;
  margin: 0;
  height: 23px;
}
.flow-detail section.detail,
.flow-detail section.error {
  overflow: auto;
  padding: 5px 12px 0;
}
.flow-detail .first-line {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #428bca;
  color: white;
  margin: 0 -8px;
  padding: 4px 8px;
  border-radius: 5px;
  word-break: break-all;
  max-height: 100px;
  overflow-y: auto;
}
.flow-detail .first-line .inline-input.editable {
  border-color: rgba(255, 255, 255, 0.5);
}
.flow-detail .request-line {
  margin-bottom: 2px;
}
.flow-detail hr {
  margin: 0 0 5px;
}
.inline-input {
  display: inline;
  margin: 0 -3px;
  padding: 0 3px;
  border: solid transparent 1px;
}
.inline-input.editable {
  border-color: #ccc;
}
.inline-input[contenteditable] {
  background-color: rgba(255, 255, 255, 0.2);
}
.inline-input[contenteditable].has-warning {
  color: #ffb8b8;
}
.view-all-content-btn {
  float: right;
  margin-bottom: 12px;
}
.flow-detail table {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
}
.flow-detail table tr:not(:first-child) {
  border-top: 1px solid #f7f7f7;
}
.flow-detail table td {
  vertical-align: top;
}
.connection-table td:first-child {
  width: 50%;
  padding-right: 1em;
}
.header-table td {
  line-height: 1.3em;
}
.header-table .header-name {
  width: 33%;
}
.header-table .header-colon {
  position: absolute;
  opacity: 0;
}
.header-table .inline-input {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.connection-table td,
.timing-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flowview-image {
  text-align: center;
}
.flowview-image img {
  max-width: 100%;
  max-height: 100%;
}
.edit-flow-container {
  position: relative;
}
.edit-flow {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(248, 145, 59, 0.7);
  text-align: center;
  font-size: 22px;
  line-height: 37px;
  transition: all 100ms ease-in-out;
}
.edit-flow:hover {
  background-color: rgba(239, 108, 0, 0.7);
  color: rgba(0, 0, 0, 0.8);
  border: solid 2px transparent;
}
.prompt-dialog {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
}
.prompt-content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  padding: 2px 5px;
  background-color: white;
  box-shadow: 0 -1px 3px lightgray;
}
.prompt-content .option {
  cursor: pointer;
}
.prompt-content .option:not(:last-child)::after {
  content: ", ";
}
.eventlog {
  height: 200px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.eventlog > div {
  background-color: #F2F2F2;
  padding: 0 5px;
  flex: 0 0 auto;
  border-top: 1px solid #aaa;
  cursor: row-resize;
}
.eventlog > pre {
  flex: 1 1 auto;
  margin: 0;
  border-radius: 0;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #fcfcfc;
}
.eventlog .fa-close {
  cursor: pointer;
  float: right;
  color: grey;
  padding: 3px 0;
  padding-left: 10px;
}
.eventlog .fa-close:hover {
  color: black;
}
.eventlog .btn-toggle {
  margin-top: -2px;
  margin-left: 3px;
  padding: 2px 2px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 2px;
}
.eventlog .label {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
  margin-left: 3px;
}
footer {
  box-shadow: 0 -1px 3px lightgray;
  padding: 0px 10px 3px;
}
footer .label {
  margin-right: 3px;
}
.CodeMirror {
  border: 1px solid #ccc;
  height: auto !important;
  max-height: 2048px !important;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.contentview .header {
  font-weight: bold;
}
.contentview .highlight {
  font-weight: bold;
}
.contentview .offset {
  color: blue;
}
.contentview .codeeditor {
  margin-bottom: 12px;
}

/*# sourceMappingURL=app.css.map */
