{% extends "frame.html" %} {% block body %}
<form style="float: right" method="POST" action="/log/clear">
    <button type="submit" class="btn">clear</button>
</form>

<h1>Logs</h1>
<hr>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>id</th>
            <th>method</th>
            <th>path</th>
        </tr>
    </thead>
    <tbody>
        {% for i in log %}
        <tr>
            {% if i["type"] == 'error' %}
            <td colspan="3">ERROR: {{ i["msg"] }}</td>
            {% else %}
            <td>{{ i["id"] }}</td>
            <td>{{ i["request"]["method"] }}</td>
            <td><a href="/log/{{ i[" id "] }}">{{ i["request"]["path"] }}</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
