language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build browserup_mitmproxy_client.gemspec
  - gem install ./browserup_mitmproxy_client-1.1.gem
