{% extends "frame.html" %}
{% block body %}  

<section>
    <div class="page-header">
        <h1>
            how
            <small>to get it.</small>
        </h1>
    </div>

    <p>The easiest way to install pathod is to use pip:</p>

    <pre>pip install pathod</pre>

    <p> You can find the project source on GitHub: </p>

    <div style="margin-top: 20px; margin-bottom: 20px">
    <a class="btn btn-primary btn-large" href="https://github.com/cortesi/pathod">github.com/cortesi/pathod</a>
    </div>

    <p>Please also use the <a
    href="https://github.com/cortesi/pathod/issues">github issue tracker</a> to
    report bugs. </p>

</section>

<section>
    <div class="page-header">
        <h1>
            why
            <small>this it written.</small>
        </h1>
    </div>

    <p>I started pathod to improve testing for for the <a
    href="http://mitmproxy.org">mitmproxy</a> project. From there, it soon grew
    into quite a versatile HTTP Swiss army knife.</p>
</section>


<section>
    <div class="page-header">
        <h1>
            who
            <small>is to blame.</small>
        </h1>
    </div>

    <p>pathod is developed by me, <a href="http://corte.si">Aldo Cortesi</a>.
    Email me at aldo@corte.si with feedback or suggestions. If you like pathod, you
    should follow me on <a href="http://twitter.com/cortesi">twitter</a> and <a
    href="http://corte.si">subscribe to my blog</a>.</p>
</section>


{% endblock %}  
