{% extends "frame.html" %}
{% block body %}  

<div class="page-header">
    <h1>
        where
        <small>to get the code.</small>
    </h1>
</div>

<h3>git clone git://github.com/cortesi/pathod.git</h3>

<p>Please use the <a href="http://github.com/cortesi/pathod/issues">github
issue tracker</a> to report bugs. </p>

<div class="page-header">
    <h1>
        why
        <small>this was written.</small>
    </h1>
</div>

<p>I started pathod to improve testing for for the <a
href="http://mitmproxy.org">mitmproxy</a> project. From there, it soon grew
into quite a versatile HTTP Swiss army knife.</p>


<div class="page-header">
    <h1>
        who
        <small>is to blame.</small>
    </h1>
</div>

<p>pathod is developed by me, <a href="http://corte.si">Aldo Cortesi</a>.
Email me at aldo@corte.si with feedback or suggestions. If you like pathod, you
should follow me on <a href="http://twitter.com/cortesi">twitter</a> and <a
href="http://corte.si">subscribe to my blog</a>.</p>


{% endblock %}  
