{% extends "frame.html" %}
{% block body %}  

<div class="page-header">
   <h1><a href="http://github.com/cortesi/pathod/">the code</a></h1>
</div>

<h2>git clone git://github.com/cortesi/pathod.git</h2>

<p>Please use the <a href="http://github.com/cortesi/pathod/issues">github
issue tracker</a> to report bugs. </p>


<div class="page-header">
   <h1><a href="http://corte.si">the author</a></h1>
</div>

<p>pathod is developed by <a href="http://corte.si">Aldo Cortesi</a>.  Email me
at aldo@corte.si with feedback or suggestions. If you like pathod, you should
follow me on <a href="http://twitter.com/cortesi">twitter</a> and <a
href="http://corte.si">subscribe to my blog</a>.</p>


{% endblock %}  
