<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pathod</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery-1.7.2.min.js"></script>
    <style>
        body {
            padding-top: 45px;
        }
    </style>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Pathod</a>
          <ul class="nav">
            <li {% if section== "main" %} class="active" {% end %}><a href="/">Main</a></li>
            <li {% if section== "log" %} class="active" {% end %}><a href="/log">Log</a></li>
            <li {% if section== "help" %} class="active" {% end %}><a href="/help">Help</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        
        {% block body %}  
        {% end %}  

    <hr>
    <p>by <a href="http://corte.si">Aldo Cortesi</a> </p>
    </div> <!-- /container -->

  </body>
</html>
