{% extends "frame.html" %}
{% block body %}  

<div class="row">
    <div class="span6 bigtitle">
        <div>
            <img src="/static/torture.png">
        </div>
    </div>
    <div class="span6 bigtitle">
        <div>Tormenting HTTP clients and servers</div>
    </div>
</div>

<div class="row">
    <div class="span6">
        <div>
            <h1> <a href="/docs/pathod">pathod</a> </h1>

            <p>A pathological web daemon.</p>

            {% include "response_previewform.html" %}
        </div>
    </div>
    <div class="span6">
        <div>
            <h1> <a href="/docs/pathoc">pathoc</a> </h1>

            <p>A perverse HTTP client.</p>

            {% include "request_previewform.html" %}

        </div>
    </div>
</div>


<div style="margin-top: 50px" class="row">
    <div class="span6">
        <div>
            <h1>pathod server</h1>

            <p>A live, public instance of pathod</p>

            <p><b>http://p.pathod.org/</b><input 
                    style="width: 14em"
                    id="publicspec"
                    name="spec"
                    class="input-medium search-query"
                    value="{{spec}}"
                    placeholder="code[msg]:[features]"
                >
                <a href="#" id="submitspec" class="btn">go</a>
            </p>
            
            <p>Please use responsibly. There are some restrictions on the
            public server.</p>

            <script>
                $(function(){
                    $("#submitspec").click(function(){
                        document.location = "http://p.pathod.org/" + $("#publicspec").val()
                    });
                });
            </script>
        </div>
    </div>
    <div class="span6">
        <div>
            <h1> <a href="/docs/test">libpathod.test</a> </h1>

            <p>Using pathod in your unit tests.</p>

            {% include "examples_context.html" %}

        </div>
    </div>
</div>

{% endblock %}  
