<div class="instructions-wrapper">
    <div class="instructions list-group">
        {% for instr in instructions %}
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" data-from="{{ instr.time_from }}" data-to="{{ instr.time_to }}">
            <span class="instruction-text">{{ instr.instruction|safe }}</span>
            <span class="badge badge-primary badge-pill">{{ instr.time_from_str }}</span>
        </a>
        {% endfor %}
    </div>
    <p class="text-center text-muted mt-1 mb-0"><small>Clicking on an instruction takes you to the corresponding part in the video.</small></p>
</div>