<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mitmproxy/mitmweb Tutorial (localhost)</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/tutorial.css" rel="stylesheet">
    
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md  flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-2 mr-0" href="http://tutorial.mitm.it/"><img height="20px" src="/static/images/mitmproxy-long.png"> </a>
      
      <ul class="navbar-nav px-3 mr-sm-auto">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/mitmproxy/overview">mitmproxy Tutorial</a>
        </li>
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/mitmweb/overview">mitmweb Tutorial</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="https://docs.mitmproxy.org/stable/" target="_blank">Open documentation</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
        {% block frame %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/tutorial.js"></script>

  </body>
</html>
