<h2 class="pb-3 mb-3 border-bottom">Voting App</h2>

<p>
    Welcome to the finals of our shocked animal competition.
    Below you can vote for the two remaining candidates Lucy and Pete.
</p>

<div class="row text-center">
    <div class="col-xl-6 col-lg-12 col-6 mb-4 mb-xl-0">
        <div class="card">
            <img src="/static/images/cat.jpg" class="figure-img img-fluid rounded mb-0" alt="Lucy the cat">
            <div class="card-body">
                <a href="/vote/cat" class="btn btn-primary btn-sm ajax-btn">Vote 😻</a>
                <hr>
                <small>Votes: <span id="votes-cat" class="badge badge-primary">0</span></small>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-6">
        <div class="card">
            <img src="/static/images/dog.jpg" class="figure-img img-fluid rounded mb-0" alt="Pete the dog">
            <div class="card-body">
                <a href="/vote/dog" class="btn btn-primary btn-sm ajax-btn">Vote 🐺</a>
                <hr>
                <small>Votes: <span id="votes-dog" class="badge badge-primary">0</span></small>
            </div>
        </div>
    </div>
</div>

<hr>

<a id="btn-reload-votes" class="btn btn-outline-secondary btn-sm ajax-btn" href="/votes" role="button">Refresh votes</a>
<a id="btn-reload-votes" class="btn btn-outline-secondary btn-sm ajax-btn" href="/reset_votes" role="button">Reset votes</a>
