
main {

  line-height: 1.5;

  a {
    color: #3273dc;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  h2:not(table + h2) {
    padding-top: 1em;
    border-top: 1px solid #c0c0c0;
  }

  img {
    max-width: 100%;
  }

  figure {
    text-align: center;
    margin: 2em;

    &.has-border img {
      box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    }
  }

  pre {
    overflow-x: auto;
    padding: 1.25em 1.5em;
    white-space: pre;
    word-wrap: normal;
    background-color: #f5f5f5;
    color: #4a4a4a;
    font-size: .875em;
  }

  li+li {
    margin-top: .25em;
  }

  code:not(pre > code) {
    background-color: #f5f5f5;
    color: #1a9f1a;
    font-size: 0.875em;
    padding: .25em .5em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th, td {
      vertical-align: top;
      padding: .5em .75em;
    }
    td, th {
      border-bottom: solid #ddd 1px;
    }
    th, tr:last-child td {
      border-bottom-width: 2px;
    }
    th {
      text-align: left;
    }
    code {
      white-space: pre;
    }
  }

  .note {
    --note-color: 215;

    &.outdated {
      --note-color: 55;
    }

    color: hsl(var(--note-color), 90%, 21%);
    background-color: hsl(var(--note-color), 100%, 91%);
    border: 1px solid hsl(var(--note-color), 98%, 81%);;

    padding: 1rem;
    border-radius: .375rem;
    margin-bottom: 1rem;

    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
