<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>mitmproxy</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/mitmproxy.css" rel="stylesheet">
    <link href="/static/syntax.css" rel="stylesheet">
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/jquery.scrollTo-min.js"></script>
    <script src="/static/jquery.localscroll-min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">mitmproxy</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if section== "home" %} class="active" {% endif %}><a href="/">home</a></li>
              <li {% if section== "certs" %} class="active" {% endif %}><a href="/certs">certs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %}  
        {% endblock %}  
      <hr>
      <footer>
        <span><a href="http://mitmproxy.org">mitmproxy</a></span>
      </footer>
    </div>
  </body>
  <script>
    $(function(){
        $.localScroll(
            {
                duration: 300,
                offset: {top: -45}
            }
        );
    });
  </script>
</html>
