
h3, .h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .5rem;
  font-size: .75rem;
  line-height: 1.25;
  border-radius: .2rem;
}

/*
 * Sidebar
 */

 .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  z-index: 1000;
  height: calc(100vh - 3rem);
  padding-top: 15px;
}

.sidebar-toc {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-app {
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link svg {
  margin-right: 4px;
  margin-bottom: 3px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover svg, .sidebar .nav-link.active svg {
  color: inherit;
}

/*
 * Navbar
 */

nav.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.image-wrapper {
  position: relative;
}

.image-annotation {
  position: absolute;
  width: 20px;
  height: 20px;
}

.introjs-hint-dot {
  box-sizing: content-box;
  border: 10px solid rgba(255,255,255,.5);
  background: 0 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 30px;
  width: 30px;
  -webkit-animation: introjspulse 2s ease-out;
  -moz-animation: introjspulse 2s ease-out;
  animation: introjspulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 1;
  opacity: 0;
}

.introjs-hint-pulse {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border: 5px solid rgba(60,60,60,.6);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(255,255,255,.8);
  z-index: 10;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

@-webkit-keyframes introjspulse {
  0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
  }
  25% {
      -webkit-transform: scale(0);
      opacity: 0.1;
  }
  50% {
      -webkit-transform: scale(0.1);
      opacity: 0.3;
  }
  75% {
      -webkit-transform: scale(0.5);
      opacity: 0.5;
  }
  100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
  }
}

@-moz-keyframes introjspulse {
  0% {
      -moz-transform: scale(0);
      opacity: 0.0;
  }
  25% {
      -moz-transform: scale(0);
      opacity: 0.1;
  }
  50% {
      -moz-transform: scale(0.1);
      opacity: 0.3;
  }
  75% {
      -moz-transform: scale(0.5);
      opacity: 0.5;
  }
  100% {
      -moz-transform: scale(1);
      opacity: 0.0;
  }
}

@keyframes introjspulse {
  0% {
      transform: scale(0);
      opacity: 0.0;
  }
  25% {
      transform: scale(0);
      opacity: 0.1;
  }
  50% {
      transform: scale(0.1);
      opacity: 0.3;
  }
  75% {
      transform: scale(0.5);
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 0.0;
  }
}

/*
 * asciinema annotations
 */


 .asciinema-wrapper, asciinema-player, .asciinema-player-wrapper {
  display: inline-block;
}
.asciinema-wrapper {
  position: relative;
}

.asciinema-wrapper .annotation {
  position: absolute;
  display: none;
  color: #fff;
  border: 1px solid rgba(255,255,255,.2);
  padding: 8px;
}
