

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}



.tablenum {
    font-weight: bold;
}

.nowrap {
     white-space: nowrap;
}

h1 {
    line-height: 1.1;
}

.page-header {
    margin: 0px 0 22px;
}
