
a {
    color: #3F8ED8;
    text-decoration: none;
}


#hd.doc {
    -x-system-font:none;
    font-family: Helvetica,Arial,Tahoma,Verdana,Sans-Serif;
    color: #555555;
    margin: 0;
    margin-bottom: 1em;
}
#hd.doc h1 {
    letter-spacing: 3px;
    font-size: 2.5em;
    line-height: 100%;
    margin: 0.3em 0;
    font-weight: normal;
}

#nav {
    float: right;
}


#bd {
    -x-system-font:none;
    font-family: Helvetica,Arial,Tahoma,Verdana,Sans-Serif;
    font-size: 1.6em;
    color: #555555;
}

#bd h1 {
    font-size: 1.4em;
    border-bottom: 5px solid #ff7033;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
}

#bd h2 {
    font-size: 1.1em;
    border-bottom: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
}

#ft.doc {
    color: #aaa;
    border-top: 1px solid #aaa;
    clear: both;
    margin-top: 2em;
    font-size: 0.8em;
    letter-spacing: 0.5px;
}

.faq .question {
    font-size: 1.1em;
    font-weight: bold;
}

pre {
    padding: 10px;
    background-color: #dddddd;
}

.docindex, .docindex ul {
    margin-top: 0.1em;
    margin-bottom: 0;
    margin-left: 0px;
}

.docindex li {
    list-style-position: inside;
    margin-left: 0;
}

.docindex ul {
    margin-left: 2em;
}

li a {
    text-decoration: none;
}

.highlight {
    font-size: 14px;
}
