<pre class="example">wf:[colon-separated list of features]</pre>
</p>

<table class="table table-bordered">
    <tbody>

        <tr>
            <td> b<a href="#valuespec">VALUE</a> </td>
            <td>
                Set the frame payload. If a masking key is present, the value is encoded automatically.
            </td>
        </tr>

        <tr>
            <td> c<a href="#valuespec">INTEGER</a> </td>
            <td>

                Set the op code. This can either be an integer from 0-15, or be one of the following
                opcode names: <b>text</b> (the default),
                <b>continue</b>, <b>binary</b>, <b>close</b>, <b>ping</b>,
                <b>pong</b>.

            </td>
        </tr>

        <tr>
            <td> d<a href="#offsetspec">OFFSET</a> </td>
            <td>
                Disconnect after OFFSET bytes.
            </td>
        </tr>

        <tr>
            <td> [-]fin </td>
            <td>
                Set or un-set the <b>fin</b> bit.
            </td>
        </tr>

        <tr>
            <td> i<a href="#offsetspec">OFFSET</a>,<a href="#valuespec">VALUE</a> </td>
            <td>
                Inject the specified value at the offset.
            </td>
        </tr>

        <tr>
            <td> k<a href="#valuespec">VALUE</a> </td>
            <td>
                Set the masking key. The resulting value must be exactly 4 bytes long. The special
                form
                <b>knone</b> specifies that no key should be set, even if the mask
                bit is on.
            </td>
        </tr>

        <tr>
            <td> l<a href="#valuespec">INTEGER</a> </td>
            <td>
                Set the payload length in the frame header, regardless of the actual body length.
            </td>
        </tr>

        <tr>
            <td> [-]mask </td>
            <td>
                Set or un-set the <b>mask</b> bit.
            </td>
        </tr>

        <tr>
            <td> p<a href="#offsetspec">OFFSET</a>,SECONDS </td>
            <td>
                Pause for SECONDS seconds after OFFSET bytes. SECONDS can be an integer or "f" to
                pause forever.
            </td>
        </tr>

        <tr>
            <td> r<a href="#valuespec">VALUE</a> </td>
            <td>
                Set the raw frame payload. This disables masking, even if the key is present.
            </td>
        </tr>

        <tr>
            <td> [-]rsv1 </td>
            <td>
                Set or un-set the <b>rsv1</b> bit.
            </td>
        </tr>

        <tr>
            <td> [-]rsv2 </td>
            <td>
                Set or un-set the <b>rsv2</b> bit.
            </td>
        </tr>

        <tr>
            <td> [-]rsv3 </td>
            <td>
                Set or un-set the <b>rsv3</b> bit.
            </td>
        </tr>

        <tr>
            <td> x<a href="#valuespec">INTEGER</a> </td>
            <td>
                Repeat this message N times.
            </td>
        </tr>

    </tbody>
</table>
