{% extends "frame.html" %} {% block body %}
<section>
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div class="row">
        <div class="span6">
            <div>
                <p>pathod is developed by <a href="http://corte.si">Aldo Cortesi</a>.</p>
            </div>

            <div>
                <ul>
                    <li>email: <a href="mailto:aldo@corte.si">aldo@corte.si</a></li>
                    <li>twitter: <a href="http://twitter.com/cortesi">@cortesi</a></li>
                    <li>github: <a href="https://github.com/cortesi">github.com/cortesi</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
