{% extends "docframe.html" %} {% block body %}
<div class="page-header">
    <h1>
        pathod
        <small>Using pathod and pathoc in code.</small>
    </h1>
</div>

<div class="row">
    <div class="span6">
        <p>
            Behind the pathod and pathoc command-line tools lurks <b>pathod</b>,
            a powerful library for manipulating and serving HTTP requests and responses.
            The canonical documentation for the library is in the code, and can be
            accessed using pydoc.
        </p>
    </div>
    <div class="span6">
        <h1>pathoc</h1>
        {% include "pathod_pathoc.html" %}
    </div>
</div>
{% endblock %}
