{% extends "frame.html" %}
{% block content %}

<div class="progress mt-4">
    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<hr>

<h2 id="view-flows" class="pt-3 pb-3 mb-3 border-bottom">Step 3: Modify Requests</h2>

<p>
    Yet to be written.
</p>

<hr>

<p class="d-flex">
    <a class="btn btn-outline-primary mr-sm-auto" href="/mitmproxy/intercept_requests" role="button">Previous Step: Intercept Requests</a>
    <a class="btn btn-primary" href="/mitmproxy/replay_requests" role="button">Next Step: Replay Requests</a>
</p>

{% endblock %}
