
/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive > table > tbody > tr > td {
    vertical-align: top !important;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #e0e0e0;
}

.code-block-caption {
    height: 1.5em;
}

.code-block-caption .caption-text {
    font-size: 0.8em;
    float: right;
}

.code-block-caption .headerlink {
    display: none !important;
}

.function .headerlink {
    display: none !important;
}

dl .reference.internal {
    display: none !important;
}

dl .headerlink {
    display: none !important;
}
