// www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-family-sans-serif:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
@font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

body {
    margin: 0;
    font-family: @font-family-sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0;
}

input,
button,
select,
textarea {
    font: inherit;
}

.u-float-right {
    float: right;
}

.u-text-primary {
    color: #337ab7;
}

.u-text-success {
    color: #3c763d;
}

.u-text-info {
    color: #31708f;
}

.u-text-warning {
    color: #8a6d3b;
}

.u-text-danger {
    color: #a94442;
}

.u-text-muted {
    color: #777;
}

.hidden {
    display: none !important;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.m-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}

.m-btn:focus,
.m-btn:hover {
    color: #333;
    text-decoration: none;
}

.m-btn:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 12.5%);
}

.m-btn:disabled,
.m-btn.disabled {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

.m-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.m-btn-default:hover,
.m-btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.m-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.m-btn-primary:hover,
.m-btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.m-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.m-btn-info:hover,
.m-btn-info:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.m-btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.m-btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.m-label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.m-label-default {
    background-color: #777;
}

.m-label-primary {
    background-color: #337ab7;
}

.m-label-success {
    background-color: #5cb85c;
}

.m-label-danger {
    background-color: #d9534f;
}

.m-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.m-input-group .m-input,
.m-input-group-addon {
    display: table-cell;
}

.m-input-group .m-input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.m-input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.m-input-group .m-input-group-addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.m-input-group .m-input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 20%);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
}

.popover-content {
    padding: 9px 14px;
}

.popover > .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover.top {
    margin-top: -10px;
}

.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-width: 11px 11px 0;
    border-top-color: rgba(0, 0, 0, 25%);
}

.popover.bottom {
    margin-top: 10px;
}

.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-width: 0 11px 11px;
    border-bottom-color: rgba(0, 0, 0, 25%);
}

.m-close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.m-close:hover,
.m-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.m-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 7.5%);
    transition:
        border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
}

.m-input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 7.5%),
        0 0 8px rgba(102, 175, 233, 60%);
}

select.m-input {
    padding-right: 24px;
}

textarea.m-input {
    height: auto;
}

.has-error .m-input {
    border-color: #a94442;
}

@import (less) "sprites.less";
@import (less) "layout.less";
@import (less) "tabs.less";
@import (less) "header.less";
@import (less) "flowtable.less";
@import (less) "flowdetail.less";
@import (less) "flowview.less";
@import (less) "eventlog.less";
@import (less) "footer.less";
@import (less) "codemirror.less";
@import (less) "contentview.less";
@import (less) "modal.less";
@import (less) "dropdown.less";
@import (less) "command.less";
@import (less) "capture-setup.less";
@import (less) "mode.less";
