.contentview {
     .header {
        font-weight: bold;
     }
    .highlight{
        font-weight: bold;
    }
    .offset{
        color: blue
    }
    .text{

    }
    .codeeditor{
        margin-bottom: 12px;
    }
    .json_key{
        color: green;
    }
    .json_string{
        color: firebrick;
    }
    .json_number{
        color: deeppink;
    }
    .json_boolean{
        color: blue;
    }
}
