.contentview {
     .header {
        font-weight: bold;
     }
    .highlight{
        font-weight: bold;
    }
    .offset{
        color: blue
    }
    .text{

    }
    .codeeditor{
        margin-bottom: 12px;
    }
}
