.contentview {
    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: auto;
    }

    .header {
        font-weight: bold;
    }
    .highlight {
        font-weight: bold;
    }
    .offset {
        color: blue;
    }
    .text {
    }
    .codeeditor {
        margin-bottom: 12px;
    }
    .Token_Name_Tag {
        color: darkgreen;
    }
    .Token_Literal_String {
        color: firebrick;
    }
    .Token_Literal_Number {
        color: purple;
    }
    .Token_Keyword_Constant {
        color: blue;
    }
}
