.eventlog {
    height: 200px;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;

    > div {
        background-color: var(--mitmweb-bg-alt);
        padding: 0 5px;
        flex: 0 0 auto;
        border-top: 1px solid var(--mitmweb-border-strong);
        cursor: row-resize;
    }

    > pre {
        flex: 1 1 auto;

        margin: 0;
        border-radius: 0;
        overflow-x: auto;
        overflow-y: scroll;
        background-color: var(--mitmweb-bg);
    }

    .eventlog-actions {
        display: inline-flex;
        align-items: center;
    }

    .icon-close {
        cursor: pointer;
        color: grey;
        margin-left: 6px;
        &:hover {
            color: black;
        }
    }

    .toggle {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        margin-left: 3px;
        padding: 2px 2px;
        font-size: 10px;
        line-height: 10px;
        border-radius: 2px;
    }
    .label {
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        margin-left: 3px;
    }
}
