//TODO: move into utils
.user-select (@val) {
    -webkit-touch-callout: @val;
    -webkit-user-select: @val;
    -moz-user-select: @val;
    -ms-user-select: @val;
    user-select: @val;
}

.flow-table {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
    }

    thead tr {
        background-color: var(--mitmweb-bg-alt);
        border-bottom: solid var(--mitmweb-border) 1px;
        line-height: 23px;
    }

    th {
        font-weight: normal;
        text-align: left;
        vertical-align: bottom;
        position: relative !important;
        padding: 0;
        padding-left: 1px;
        .user-select(none);

        &.sort-asc,
        &.sort-desc {
            background-color: lighten(#f2f2f2, 3%);
            padding-right: 18px;
        }

        .th-content {
            display: block;
            min-height: 23px;
        }

        .sort-indicator {
            position: absolute;
            right: 3px;
            top: 4px;
            width: 14px;
            height: 14px;
            background-color: fadeout(lighten(#f2f2f2, 3%), 20%);
        }
    }

    tr {
        cursor: pointer;

        & {
            background-color: var(--mitmweb-bg);
            &:nth-child(even) {
                background-color: var(--mitmweb-bg-alt);
            }
        }

        &.highlighted {
            background-color: var(--mitmweb-row-highlight);
            &:nth-child(even) {
                background-color: var(--mitmweb-row-highlight-alt);
            }
        }

        &.selected {
            background-color: var(--mitmweb-row-selected) !important;
            &:nth-child(even) {
                background-color: var(--mitmweb-row-selected-alt) !important;
            }
        }

        &.selected.highlighted {
            background-color: var(--mitmweb-row-selected-highlight) !important;
            &:nth-child(even) {
                background-color: var(
                    --mitmweb-row-selected-highlight-alt
                ) !important;
            }
        }
    }

    td {
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @interceptorange: hsl(30, 100%, 50%);

    tr.intercepted:not(.has-response) {
        .col-path,
        .col-method {
            color: @interceptorange;
        }
    }

    tr.intercepted.has-response {
        .col-status,
        .col-size,
        .col-time {
            color: @interceptorange;
        }
    }

    .icon {
        line-height: inherit;
    }

    .col-tls {
        width: 10px;
    }

    .col-tls-https {
        background-color: rgba(0, 185, 0, 0.5);
    }

    .col-index {
        text-align: right;
        width: 4ch;
    }

    .col-icon {
        width: 32px;
    }

    .col-path {
        .marker {
        }

        .icon {
            margin-left: 0;
            font-size: 16px;
        }

        .icon-replay {
            color: green;
        }

        .icon-pause {
            color: @interceptorange;
        }

        .icon-warning,
        .icon-close {
            color: darkred;
        }
    }

    .col-method {
        width: 60px;
    }

    .col-version {
        width: 80px;
    }

    .col-status {
        width: 50px;
    }

    .col-size {
        width: 70px;
    }

    .col-time {
        width: 50px;
    }

    .col-timestamp {
        width: 170px;
    }

    .col-comment {
        width: 150px;
        padding-left: 5px;
    }

    td.col-time,
    td.col-size,
    td.col-timestamp,
    td.col-comment {
        text-align: right;
    }

    .col-quickactions {
        width: 0;
        direction: rtl;
        * {
            direction: ltr;
        }
        overflow: hidden;
        background-color: inherit;
        font-size: 20px;
    }

    tr:hover .col-quickactions {
        overflow: visible;
    }

    .col-quickactions > div {
        height: 32px;
        background-color: inherit;
        display: inline-flex;
        align-items: center;

        > a {
            margin-right: 2px;
            height: 32px;
            width: 32px;
            border-radius: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgba(0, 0, 0, 5%);
            }
        }
    }
}
