.flow-table {
	width: 100%;
	table-layout: fixed;

	thead {
		background-color: #dadada;  
	}

	tr {
		cursor: pointer;
		&.selected {
			background-color: hsla(209, 52%, 84%, 0.5) !important;
		}
	}

	td {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	//tr:nth-child(odd) { background-color : white; }
	tr:nth-child(even) { background-color : rgba(0,0,0,0.05); }
	//tr:hover { background-color : hsla(209, 52%, 84%, 0.5); }

	.col-tls {
		width: 10px;
	}
	.col-tls-https {
		background-color: rgba(0, 185, 0, 0.5);
	}
	.col-icon {
		width: 32px;
	}
	.col-method {
		width: 60px;
	}
	.col-status {
		width: 50px;
	}
	.col-time {
		width: 120px;
	}
}