footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
    box-shadow: 0 -1px 3px var(--mitmweb-shadow);
    padding: 3px;
    background-color: var(--mitmweb-bg);

    .footer-meta {
        display: flex;
        flex: 0 0 auto;
        gap: 3px;
        margin-left: auto;
    }
}
