html, body, #container {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;

    > header, > footer, > .eventlog {
        flex: 0 0 auto;
    }
}

main {
    flex: 1 1 auto;
    overflow: auto;
}