.modal-visible,
.m-modal.is-visible {
    display: block;
}

.modal-dialog,
.m-modal-dialog {
    overflow-y: initial !important;
}

.modal-body,
.m-modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
