@import (reference) "../../node_modules/bootstrap/less/variables.less";
@import (reference) "../../node_modules/bootstrap/less/mixins/grid.less";
@import (reference) "../../node_modules/bootstrap/less/mixins/labels.less";
@import (reference) "../../node_modules/bootstrap/less/labels.less";

.modes {
    padding: 1em 2em;

    h3 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .modes-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mode-title {
        font-size: 16px;
        font-weight: 600;
    }

    .mode-description {
        color: #b2b2b2;
        margin-top: -10px;
    }

    .mode-entry {
        text-align: left;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0;

        input[type="checkbox"] {
            margin: 0 10px;
            vertical-align: middle;
            width: 1.8rem;
            height: 1.8rem;
        }

        p {
            margin: 0;
        }
    }

    .mode-error {
        margin-left: 10px;
        margin-top: 5px;
    }

    .mode-local-input {
        border: 1px solid #ccc;
        margin-left: 10px;
        border-radius: 4px;
        min-width: 150px;
        height: 25px;
    }

    .mode-input {
        border: 1px solid #ccc;
        margin-left: 10px;
        border-radius: 4px;
        min-width: 100px;
        height: 25px;
    }

    .mode-reverse-input {
        border: 1px solid #ccc;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 4px;
        min-width: 70px;
        height: 25px;
    }

    .mode-reverse-dropdown {
        margin: 0 5px;
    }

    .mode-popover-icon {
        margin-left: 10px;
        font-size: 2rem;
        color: #5D5D5D;
        cursor: pointer;
    }

    .mode-popover-container {
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .mode-popover-content {
        position: absolute;
        left: 35px;
        bottom: 0;
        padding: 10px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        min-width: 250px
    }

    .mode-popover-header {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    
    .mode-popover-title {
        font-weight: bold;
    }
    
    .mode-popover-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .mode-popover-item {
        p {
            width: 80px;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
