name: autofix.ci

on:
  pull_request:
    paths:
      - pyproject.toml

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: mhils/workflows/checkout@8a2bdd081227cbdd6f5d3bbb54a759607feac0b6
      - uses: mhils/workflows/setup-uv@8a2bdd081227cbdd6f5d3bbb54a759607feac0b6
      - run: uv lock --upgrade
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
