name: autofix.ci

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: install-pinned/pyupgrade@847ef2b8aa35a3817372540b887f4130d864d6b7
      - name: Run pyupgrade
        run: |
          shopt -s globstar
          export GLOBIGNORE='mitmproxy/contrib/**'
          pyupgrade --exit-zero-even-if-changed --keep-runtime-typing --py39-plus **/*.py

      - uses: install-pinned/reorder_python_imports@515035fd9eb355713f61dee238b17a04ce01f4d2
      - name: Run reorder-python-imports
        run: |
          shopt -s globstar
          export GLOBIGNORE='mitmproxy/contrib/**'
          reorder-python-imports --exit-zero-even-if-changed --py39-plus **/*.py
      - uses: install-pinned/yesqa@a1262fbe567d4c0b3445afade67b90f3bba2c9a2

      - name: Run yesqa
        run: |
           shopt -s globstar
           export GLOBIGNORE='mitmproxy/contrib/**'
           yesqa **/*.py || true
      - uses: install-pinned/autoflake@95c53f821b204037c1be14d45d810032e8ddfdcb
      - run: autoflake --in-place --remove-all-unused-imports --exclude contrib -r .

      - uses: install-pinned/black@bcf144213c4943c1f2078a257fa566cebec36107
      - run: black --extend-exclude mitmproxy/contrib .

      - uses: mhils/add-pr-ref-in-changelog@main

      - uses: autofix-ci/action@8bc06253bec489732e5f9c52884c7cace15c0160
