name: autofix.ci

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: mhils/workflows/checkout@8a2bdd081227cbdd6f5d3bbb54a759607feac0b6
      - uses: mhils/workflows/setup-uv@8a2bdd081227cbdd6f5d3bbb54a759607feac0b6

      # If we need to update the lockfile (--check returns an error),
      # make sure to upgrade everything.
      - run: uv lock --check || uv lock --upgrade

      - uses: mhils/workflows/uv-sync@8a2bdd081227cbdd6f5d3bbb54a759607feac0b6

      - run: ruff check --fix-only .
      - run: ruff format .

      - run: web/gen/all

      - uses: actions/setup-node@v6
        with:
          node-version-file: .github/node-version.txt
      - run: npm ci
        working-directory: web
      - run: npm run eslint
        working-directory: web
        continue-on-error: true
      - run: npm run prettier
        working-directory: web

      - uses: mhils/add-pr-ref-in-changelog@main

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
