name: autofix.ci

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: install-pinned/pyupgrade@af7d65f31bddb01097a24da6c8fb694441f51cba
      - name: Run pyupgrade
        run: |
          shopt -s globstar
          export GLOBIGNORE='mitmproxy/contrib/**'
          pyupgrade --exit-zero-even-if-changed --keep-runtime-typing --py310-plus **/*.py

      - uses: install-pinned/reorder_python_imports@9766e7ba4f33497b107014571afe3b5f4c2d946b
      - name: Run reorder-python-imports
        run: |
          shopt -s globstar
          export GLOBIGNORE='mitmproxy/contrib/**'
          reorder-python-imports --exit-zero-even-if-changed --py310-plus **/*.py

      - uses: install-pinned/yesqa@e45b0928dd14d5c2a22695e32de8936530ba7a49
      - name: Run yesqa
        run: |
           shopt -s globstar
           export GLOBIGNORE='mitmproxy/contrib/**'
           yesqa **/*.py || true

      - uses: install-pinned/autoflake@46b4898323be58db319656fe2758f3fd5ddfee32
      - run: autoflake --in-place --remove-all-unused-imports --exclude mitmproxy/contrib -r .

      - uses: install-pinned/black@ba55a508f931f1ee71ee049edba55c3382567656
      - run: black .

      - name: Run prettier
        run: |
          npm ci
          npm run prettier
        working-directory: web

      - uses: mhils/add-pr-ref-in-changelog@main

      - uses: autofix-ci/action@8caa572fd27b0019a65e4c695447089c8d3138b9
