name: autofix.ci

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version-file: .github/python-version.txt
      - run: pip install -e .[dev]
      - run: ruff check --fix-only .
      - run: ruff format .

      - run: web/gen/all

      - uses: actions/setup-node@v4
        with:
          node-version-file: .github/node-version.txt
      - run: npm ci
        working-directory: web
      - run: npx eslint --fix .
        working-directory: web
      - run: npx prettier --write .
        working-directory: web

      - uses: mhils/add-pr-ref-in-changelog@main

      - uses: autofix-ci/action@dd55f44df8f7cdb7a6bf74c78677eb8acd40cd0a
